.event {
  position: absolute;
  width: 80%;
  background-color: #40a36a;
  opacity: 1;
  z-index: 1;
  padding: 8px;
  color: #fff;
  min-height: 50px;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.delete-event-btn {
  cursor: pointer;
  border: none;
}

.delete-button {
  content: '';
  position: absolute;
  top: 5px;
  right: 10px;
}
